<div class="form-label-group">
    <input [ngClass]="applyValidityClass()" [type]="type" (input)="onChange($event.target.value)" (blur)="onTouched()"
        id="{{label}}" #input class="form-control" placeholder="Email address">

    <div class="fa fa-spinner fa-spin loader"
        *ngIf="this.controlDir && this.controlDir.control && controlDir.control.status === 'PENDING'">

    </div>
    <label for="{{label}}">{{label}}</label>
    <div class="invalid-feedback" *ngIf="isValidAndTouched()">
        <span *ngIf="controlDir.control.errors?.required">{{ label }} is required</span>
        <span *ngIf="controlDir.control.errors?.pattern">Invalid email address</span>
    </div>
    <div class="invalid-feedback d-block" *ngIf="isValidAndDirty()">
        <span *ngIf="controlDir.control.errors?.emailExists">Email addres is in use</span>
    </div>
</div>